@import 'reset'; //css reset
@import 'grid'; //斷點
@import 'base'; //共通樣式：header , footer

.title {
    width: 100%;
    padding-top: 50px;
    img {
        display: block;
        margin: 0 auto;
    }
}
.content > p {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    color: #3d1101;
    font-family: '微軟正黑體';
}

form {
    width: 300px;
    margin: 0 auto;
    margin-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    background: #efe9e7;
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    border-top: 3px solid #ff5e45;
    p {
        text-align: center;
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #3d1101;
        margin-top: 1em;
    }
    label {
        font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
        font-size: 16px;
        color: #3d1101;
        padding-top: 15px;
    }
    input {
        width: 100%;
    }
    span {
        display: block;
        font-family: '微軟正黑體';
        font-size: 14px;
        color: #ff5e45;
        margin-bottom: 36px;
    }
    .btn {
        width: 100%;
        display: flex;
        justify-content: space-around;
        button {
            width: 45%;
            text-align: center;
        }
        .btn-signUp {
            background: rgba(0, 0, 0, 0.35);
            border-radius: 3px;
            font-size: 14px;
            font-family: '微軟正黑體';
        }
        .btn-signIn {
            background: #f56c23;
            border-radius: 3px;
            font-size: 14px;
            font-family: '微軟正黑體';
        }
    }
}
.content{
    padding-bottom: 400px;
    @include phoneH{
        padding-bottom: 550px;
    }
}